@media screen and (max-width: 561px){

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

.h1 h1 {
    font-size: 35px;
    margin-left: -127px;
    top: 180px;
}

.h2 {
    font-size: 25px;
}

.main_content{
    display: flex;
    flex-direction: column;
}

.marakesh, .seamer, .stambul {
    width: 340px;
    padding-left: 10px;
}

.nav-header {
    display: flex;
    flex-direction: column;
    height: 95px;
    align-items: center;
}

/* button_mobile */
 .button_mob {
     display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
 }

 .button_mob span {
    width: 48px;
    height: 7px;
    background-color:  #165859;
    border-radius: 5px;
    position: relative;
    display: block;
}

.button_mob span::before, .button_mob span::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color:  #165859;
    border-radius: 5px;
}

.button_mob span::before {
top: -15px;
}

.button_mob span::after {
    bottom: -15px;
}


.body {
  overflow-x: hidden; 
}

 /* header nav*/

 nav {
        position: absolute;
        flex-direction: column;
        width: 300%;
        background: grey;
        z-index: 10;
        left: -162%;
        height: 45vh;
        top: -385%;
        align-items: center;
        padding-top: 50px;
        row-gap: 25px;
        transition: 500ms
    }

    .nav div {
        align-items: center;
    }

nav a {
        font-weight: 800;
        color: black;
        letter-spacing: 4px;
    }

.active .nav {
        top: 0;
    }

    .closer {
        position: absolute;
    left: 20px;
    top: 35px;
    }

    .closer span {
    width: 48px;
    height: 7px;
    background-color:  #165859;
    border-radius: 5px;
    position: relative;
    display: block;
    position: absolute;
}
    .closer span:first-child {
        transform: rotate(45deg);
    }

    .closer span:last-child {
        transform: rotate(-45deg);
    }

}