body {
    margin: 40px;
    font-size: x-large;
    font-family: comic sans ms;
    background-image: url(../imgs/background/0e230669-f371-410e-b43b-13bcdef00b21.jpg) ;
    background-size: 100%;
}
.heading{
color: rgb(255, 36, 36);
text-align: center;
}
h1{
    letter-spacing: 7px
    }
.content p{
    width: 50%;
    border: 3px ridge orchid;
    border-radius: 20%;
    background-color: rgba(169, 15, 235, 0.5);
    color: rgba(165, 233, 30);
    padding: 20px;
    text-align: center;
    }
   
.right p{
    max-width: 32em; 
  min-height: 8em;
  margin-left: auto;
  margin-right: 0;
}

.list{
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 100px;
    padding: 0px;
    height: 30px;
}
.list a{
    color: white;
}
nav{
    margin: 0;
    padding: 0;
    height: 100px;
}
.intro{
    background-color: rgba(216, 191, 216, 0.5);
    border-radius: 15%;
    padding: 20px;
    text-align: center;
    color: rgb(55, 0, 255);
}
