* {
    padding: 0;
    margin: 0;
}

html {
    background: black;
}

body {
    width: 80%;
    background: grey;
    margin: 0 auto;
    color: rgb(32, 32, 66);
    text-align: center;
}

nav {
    background: rgb(163, 163, 163);
    padding: 40px 0 40px 0;
}

.logo {
    background: rgb(32, 32, 66);
    width: 120px;
    height: 40px;
    border-radius: 10%;
}

.menu {
    display: flex;
}

.burger {
    width: 35px;
    height: 5px;
    background-color: rgb(32, 32, 66);;
    margin: 6px 0;
}

.magnifying-glass {
    margin-right: 20px;
    margin-top: 10px;
}

.nav-menu {
    background: rgb(32, 32, 66);
    color: rgb(82, 32, 163);
    height: 20em;
}

.xxx {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background: rgb(163, 163, 163);
}

.div-img {
  
   
}

.yyy {
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
}

.img {
    background: rgb(82, 32, 163);
    height: 120px;
    width: 120px;
    border-radius: 5%;
    margin-left: 4%;
    margin-right: 4%;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.items {
    display: flex;
    justify-content: flex;
}

.img-2 {
    background: rgb(82, 32, 163);
    height: 120px;
    width: 120px;
    border-radius: 5%;
    margin: 5em auto 1em;
}

.description {
    margin-bottom: 5em;
}

.img-3 {
    background: rgb(82, 32, 163);
    height: 180px;
    width: 360px;
    border-radius: 5%;
    margin: 5em auto 1em;
}

#triangle_left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 40px solid  rgb(32, 32, 66);
    border-bottom: 20px solid transparent;
    margin-top: 8em;
    margin-left: 1em;
}

#triangle_right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid rgb(32, 32, 66);
    border-bottom: 20px solid transparent;
     margin-top: 8em;
    margin-right: 1em;
}

.img-4 {
    background: rgb(82, 32, 163);
    height: 120px;
    width: 240px;
    border-radius: 5%;
    margin: 5em auto 1em;
}

.circle{
    background: rgb(82, 32, 163);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 5em 1em 5em 5em;
    flex: none
}

.circle-descr {
    text-align: left;
    margin: 5em 1em 5em 1em;
}

footer {
    background:rgb(32, 32, 66);
}


.img-5 {
    background: rgb(82, 32, 163);
    height: 40px;
    width: 40px;
    border-radius: 5%;
    margin: 2em auto 1em;
}

.foo-container {
    width: 40%;
}